<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
        <h1>INICIAR SESION</h1>
        </div>
    </div>
    
    <form action="/index.html"  class="login_form"  name="form">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>Correo</h2>
                <input autocomplete="off" type="text" name="email">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>Contraseña</h2>
                <input type="password" name="password">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <button type="submit">Iniciar Sesion</button>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a routerLink="/registro">Registra una cuenta aqui, es gratis</a>
            </div>
        </div>
    </form>
</div>