<div class="container_titulo">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h1>MENÚ</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>PIERNA</h1>
        </div>
    </div>

    <div class="container_productos">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <h2 id="Titulo">La Original Jr.</h2>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <p>La original, la de siempre, la que nunca se irá a ningun lado, prueba la mejor torta de pierna de todo Mexico a un precio razonable</p>
                    <div class="row" id="Precio">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <p>140.00$</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12">
                <img src="assets/images/02.PNG" id="img_producto">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <button>Agregar al Carrito</button>
            </div>
        </div>
    </div>

    <div class="container_productos justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <h2 id="Titulo">La Original Jr.</h2>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <p>La original, la de siempre, la que nunca se irá a ningun lado, prueba la mejor torta de pierna de todo Mexico a un precio razonable</p>
                    <div class="row" id="Precio">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <p>140.00$</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12 img_middle">
                <img src="assets/images/02.PNG" id="img_producto">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <button>Agregar al Carrito</button>
            </div>
        </div>
    </div>
</div>