<div>
    <nav>
        <ul class="menu">
            <li><a routerLink="/"> <img src="assets/images/Logo tortas bernal.png" id="logo"> </a></li>
            <li><a routerLink="/" class="opc"> Inicio </a></li>
            <li><a routerLink="/menu" class="opc"> Menu </a></li>
            <li><a routerLink="/orden" class="opc"> Ordena tu pedido </a></li>
            <li><a routerLink="/sucursales" class="opc"> Sucursales </a></li>
            <li><a routerLink="/iniciar-sesion" class="opc"> Iniciar sesion </a></li>
        </ul>
    </nav>
</div>