<div class="container_titulo">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h1>INICIO</h1>
    </div>
</div>

<div class="container_titulo">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <button type="button" id="btnNo" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" id="btnNo" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" id="btnNo" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/Promo_01.jpg" class="d-block w-100" alt="...">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h3>Contraseña</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/Promo_02.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="preguntas">

                    </div> 
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/dark-wood-wall.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="preguntas">
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="btnprev">
                <button class="prev" id="btn" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev" >
                    <span class="visually-hidden">Anterior</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="btnnext">
                <button class="sig" id="btn" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <h1>
        ¿QUIENES SOMOS?
    </h1>
    <img src="assets/images/Torta_Inicio.png" id="Torta_Inicio">
    <h2>
        TORTAS BERNAL® cadena de restaurantes en México, con 60 años de experiencia en el campo de comidas rápidas (tortas y hamburguesas).
        Nuestro producto principal es la torta de pierna de puerco con sus cinco diversas presentaciones (Endiablada, de Milanesa de res, Light de pollo y Combinada), hamburguesas (Res y Light de pollo), productos complementarios como son: papas y refrescos.
        Actualmente tenemos múltiples unidades operando, incluyendo una unidad en la Ciudad de México (Distrito Federal).
    </h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>