<body>
    <div class="container_titulo">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>CONFIRMACION</h1>
        </div>
    </div>

    <div class="container">
        <div class="row" id="carrito">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h1>LISTA DE ARTICULOS</h1>
            </div>
        </div>
        <div class="container_productos">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-xs-12" >
                    <img src="assets/images/Logo tortas bernal.png" id="img_producto">
                </div>

                <div class="col-lg-6 col-md-12 col-xs-12" id="descripcion">
                    <p>La Original Jr. - 140.00$</p>
                </div>

                <div class="col-lg-3 col-md-12 col-xs-12" id="descripcion">
                    <h2>0</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="carrito">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h1>DIRECCION</h1>
            </div>
        </div>

        <div class="container_sucursal">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-xs-12" >
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57515.74014400127!2d-100.3835373208984!3d25.71323769999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866296803776ea1d%3A0x8c3d0564496d2124!2sTortas%20Bernal%20Lincoln!5e0!3m2!1ses-419!2smx!4v1620284384517!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col-lg-8 col-md-12 col-xs-12" >
                    <h2 id="desc">Av Abraham Lincoln 508, Mitras Nte., 64320 Monterrey, N.L.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="carrito">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h1>Total a Pagar: 200.00$</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <button type="submit" id="enviar_info">Cancelar Envio</button>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12">
                <button type="submit" id="enviar_info">Confirmar Envio</button>
            </div>
        </div>
    </div>